.elementor-896 .elementor-element.elementor-element-5992232{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;--padding-block-start:80px;--padding-block-end:100px;--padding-inline-start:10px;--padding-inline-end:10px;}.elementor-896 .elementor-element.elementor-element-5992232:not(.elementor-motion-effects-element-type-background), .elementor-896 .elementor-element.elementor-element-5992232 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F5F0;}.elementor-896 .elementor-element.elementor-element-5992232, .elementor-896 .elementor-element.elementor-element-5992232::before{--border-transition:0.3s;}.elementor-896 .elementor-element.elementor-element-4bfdb6c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-896 .elementor-element.elementor-element-4bfdb6c.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-896 .elementor-element.elementor-element-0a0e423{text-align:center;}.elementor-896 .elementor-element.elementor-element-0a0e423 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Lexend", Sans-serif;font-size:52px;font-weight:500;}.elementor-896 .elementor-element.elementor-element-0a0e423 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-896 .elementor-element.elementor-element-dfa69c4 .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-896 .elementor-element.elementor-element-dfa69c4 .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-896 .elementor-element.elementor-element-dfa69c4 .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:#5F7A6100;padding:0px 0px 0px 0px;}.elementor-896 .elementor-element.elementor-element-4b6f841{--display:flex;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.14);--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:20px;--padding-inline-end:20px;}.elementor-896 .elementor-element.elementor-element-4b6f841:not(.elementor-motion-effects-element-type-background), .elementor-896 .elementor-element.elementor-element-4b6f841 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-896 .elementor-element.elementor-element-4b6f841, .elementor-896 .elementor-element.elementor-element-4b6f841::before{--border-transition:0.3s;}.elementor-896 .elementor-element.elementor-element-f6febfc{--divider-border-style:solid;--divider-color:#0000002E;--divider-border-width:1px;}.elementor-896 .elementor-element.elementor-element-f6febfc .elementor-divider-separator{width:100%;}.elementor-896 .elementor-element.elementor-element-f6febfc .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-896 .elementor-element.elementor-element-f6febfc > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-896 .elementor-element.elementor-element-253bd4b{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-evenly;--align-items:stretch;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-896 .elementor-element.elementor-element-dba116a{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--flex-wrap:wrap;--background-transition:0.3s;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group.recaptcha_v3-bottomleft, .elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-labels-inline .elementor-field-group > label{padding-left:13px;}body:not(.rtl) .elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-labels-inline .elementor-field-group > label{padding-right:13px;}body .elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-labels-above .elementor-field-group > label{padding-bottom:13px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group > label{font-family:"Louis George Cafe", Sans-serif;font-size:12px;font-weight:400;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-type-html{padding-bottom:0px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-radius:100px 100px 100px 100px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-radius:100px 100px 100px 100px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-secondary );color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-button[type="submit"]{background-color:var( --e-global-color-secondary );color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-896 .elementor-element.elementor-element-2d2e5dc .elementor-button{border-radius:100px 100px 100px 100px;}.elementor-896 .elementor-element.elementor-element-2d2e5dc{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;width:100%;max-width:100%;}.elementor-896 .elementor-element.elementor-element-2d2e5dc > .elementor-widget-container{padding:10px 10% 10px 10px;}.elementor-896 .elementor-element.elementor-element-5fb344f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:flex-end;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:20px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-896 .elementor-element.elementor-element-00e56ba .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:#5F7A6100;border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );border-radius:100px 100px 100px 100px;}.elementor-896 .elementor-element.elementor-element-8e3a800 .elementor-button{font-family:"Louis George Cafe", Sans-serif;font-weight:500;background-color:var( --e-global-color-secondary );border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-secondary );border-radius:100px 100px 100px 100px;}.elementor-896 .elementor-element.elementor-element-8e3a800 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-896 .elementor-element.elementor-element-2ff8c4e{--display:flex;--background-transition:0.3s;}.elementor-896 .elementor-element.elementor-element-e33e124 > .elementor-widget-container{border-style:solid;border-width:1px 1px 1px 1px;border-color:#0000002E;border-radius:20px 20px 20px 20px;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-896 .elementor-element.elementor-element-4bfdb6c{--width:100%;}}@media(max-width:1024px){.elementor-896 .elementor-element.elementor-element-5992232{--padding-block-start:40px;--padding-block-end:50px;--padding-inline-start:10px;--padding-inline-end:10px;}.elementor-896 .elementor-element.elementor-element-0a0e423 .elementor-heading-title{font-size:42px;}}@media(max-width:767px){.elementor-896 .elementor-element.elementor-element-5992232{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--padding-block-start:30px;--padding-block-end:40px;--padding-inline-start:10px;--padding-inline-end:10px;}.elementor-896 .elementor-element.elementor-element-0a0e423 .elementor-heading-title{font-size:30px;}.elementor-896 .elementor-element.elementor-element-0a0e423 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-896 .elementor-element.elementor-element-dba116a.e-con{--order:99999 /* order end hack */;}.elementor-896 .elementor-element.elementor-element-2d2e5dc > .elementor-widget-container{padding:10px 10px 10px 10px;}.elementor-896 .elementor-element.elementor-element-5fb344f{--align-items:stretch;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-896 .elementor-element.elementor-element-00e56ba .elementor-button{padding:10px 10px 10px 10px;}.elementor-896 .elementor-element.elementor-element-00e56ba{width:100%;max-width:100%;}.elementor-896 .elementor-element.elementor-element-8e3a800 .elementor-button{padding:10px 10px 10px 10px;}.elementor-896 .elementor-element.elementor-element-8e3a800{width:100%;max-width:100%;}}/* Start custom CSS for html, class: .elementor-element-82cde54 */.elementor-896 .elementor-element.elementor-element-82cde54 .prod-img{
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #00000036
}
.elementor-896 .elementor-element.elementor-element-82cde54 .prod-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 40px
}
.elementor-896 .elementor-element.elementor-element-82cde54 th{
    text-align: left;
}
.elementor-896 .elementor-element.elementor-element-82cde54 h4{
    font-size: 18px;
    font-weight: bold;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .cart-prod-desc p{
    font-size: 12px;
    margin-bottom: 0;
    
}
.elementor-896 .elementor-element.elementor-element-82cde54 .quantity-div button{
    border: none;
    background: none;
    color: black;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .quantity-div input{
    border: none;
    background: none;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .quantity-div{
    display: flex;
    border: 1px solid #00000070;
    border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
.elementor-896 .elementor-element.elementor-element-82cde54 input::-webkit-outer-spin-button,
.elementor-896 .elementor-element.elementor-element-82cde54 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.elementor-896 .elementor-element.elementor-element-82cde54 input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  padding: 0;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .align-right{
    text-align: right;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .qty-and-remove{
    display: flex;
    align-content: center;
        align-items: center;
        gap: 20px;

}
.elementor-896 .elementor-element.elementor-element-82cde54 .qty-and-remove .remove-item{
    width: 10px;
    margin-bottom: 0;
    display: flex;
}
.elementor-896 .elementor-element.elementor-element-82cde54 .quantity-div{
    max-width: 130px;
}





.elementor-896 .elementor-element.elementor-element-82cde54 th, .elementor-896 .elementor-element.elementor-element-82cde54  td{
    border: none;
    background: none;
}
.elementor-896 .elementor-element.elementor-element-82cde54 th{
    border-bottom: 1px solid #0000002e;
    
}
.elementor-896 .elementor-element.elementor-element-82cde54 tr:nth-of-type(2) td{
    padding-top: 40px;
}

@media (max-width: 749px){
    .elementor-896 .elementor-element.elementor-element-82cde54 .qty-and-remove .remove-item svg{
        width: 20px;
    }
    .elementor-896 .elementor-element.elementor-element-82cde54 .qty-and-remove{
        gap: 10px;
        min-width: 120px;
    }
    .elementor-896 .elementor-element.elementor-element-82cde54 .quantity-div button{
        padding: 10px;
    }
    .elementor-896 .elementor-element.elementor-element-82cde54 .prod-cart{
        gap: 10px;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-00e56ba */@media (max-width: 749px){
    .elementor-896 .elementor-element.elementor-element-00e56ba a{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-8e3a800 */@media (max-width: 749px){
    .elementor-896 .elementor-element.elementor-element-8e3a800 a{
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e33e124 */.elementor-896 .elementor-element.elementor-element-e33e124 .align-left{
    text-align: left;
}
.elementor-896 .elementor-element.elementor-element-e33e124 td, .elementor-896 .elementor-element.elementor-element-e33e124 th{
    background: none;
    border: none;
}
.elementor-896 .elementor-element.elementor-element-e33e124 th{
    border-bottom: 1px solid #0000002E;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Louis George Cafe';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe-Light-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url(./../fonts/Louis-George-Cafe-Bold-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Louis George Cafe';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(./../fonts/Lexend-Medium.ttf) format('truetype');
}
/* End Custom Fonts CSS */